In [4]:
import pandas as pd
import numpy as np
import os

In [11]:
ad = pd.read_csv("Address_initial.csv")

ad = ad.drop('Unnamed: 0',axis=1)

In [12]:
ad.head()

                         Address        Lat        Long  Zipcode
0  1400 HARRISON ST, Oakland, CA  37.802938 -122.267597  94612.0
1   1900 JACKSON ST, Oakland, CA  37.805459 -122.263087  94612.0
2  10800 ELVESSA ST, Oakland, CA  37.752269 -122.129517  94605.0
3     400 HADDON RD, Oakland, CA  37.802501 -122.247379  94606.0
4        AVENAL AVE, Oakland, CA  37.767981 -122.189623  94605.0

In [13]:
type(ad['Zipcode'])

pandas.core.series.Series

In [111]:
# Get individual poverty data
data_path = "/Users/ramyabalasubramaniam/oakland-crime-prediction/data/"
data = os.path.join(os.getcwd(),data_path + 'ind_poverty_status_by_zip.csv')
ind_poverty_status = pd.read_csv(data, header =[0], skiprows = [0])

In [112]:
ind_poverty_status.head()

,Id,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Total; Margin of Error; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Below poverty level; Margin of Error; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Margin of Error; Population for whom poverty status is determined,Total; Estimate; AGE - Under 18 years,...,"Below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months","Below poverty level; Margin of Error; Worked less than full-time, year-round in the past 12 months","Percent below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months","Percent below poverty level; Margin of Error; Worked less than full-time, year-round in the past 12 months",Total; Estimate; Did not work,Total; Margin of Error; Did not work,Below poverty level; Estimate; Did not work,Below poverty level; Margin of Error; Did not work,Percent below poverty level; Estimate; Did not work,Percent below poverty level; Margin of Error; Did not work
0,8600000US89010,89010,ZCTA5 89010,458,109,67,53,14.6,10.5,60,...,22,20,42.3,35.0,54,50,29,38,53.7,33.0
1,8600000US89019,89019,ZCTA5 89019,1761,575,172,164,9.8,8.7,268,...,32,37,46.4,34.4,233,190,79,108,33.9,27.4
2,8600000US89046,89046,ZCTA5 89046,398,154,118,123,29.6,23.2,60,...,0,12,0.0,92.8,114,50,55,38,48.2,23.4
3,8600000US89060,89060,ZCTA5 89060,9186,1037,1947,646,21.2,6.1,1534,...,171,107,45.7,18.4,1505,346,424,179,28.2,9.4
4,8600000US89061,89061,ZCTA5 89061,5417,598,329,193,6.1,3.6,845,...,13,23,11.5,20.8,638,221,86,59,13.5,9.5

In [204]:
oakland_zip_codes = ad.loc[np.isfinite(ad['Zipcode'])]['Zipcode'].unique()
oakland_zip_codes = [i for i in oakland_zip_codes]
oakland_zip_codes = [int(i) for i in oakland_zip_codes]
len(oakland_zip_codes)

34

In [80]:
# Get individual housing data

data_path = "/Users/ramyabalasubramaniam/oakland-crime-prediction/machine_learning/"
data = os.path.join(os.getcwd(),data_path + 'housing_data.csv')
house_data = pd.read_csv(data,skiprows=[0],header=[0])

/anaconda/envs/tensorflow/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3,153,213,227,261,263,287,301,339,341,343,361) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [188]:
house_data.head()

,Id,Id2,Geography,Number; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Number; SEX AND AGE - Total population - Under 5 years,Percent; SEX AND AGE - Total population - Under 5 years,Number; SEX AND AGE - Total population - 5 to 9 years,Percent; SEX AND AGE - Total population - 5 to 9 years,Number; SEX AND AGE - Total population - 10 to 14 years,...,Number; HOUSING TENURE - Occupied housing units - Owner-occupied housing units - Population in owner-occupied housing units,Percent; HOUSING TENURE - Occupied housing units - Owner-occupied housing units - Population in owner-occupied housing units,Number; HOUSING TENURE - Occupied housing units - Owner-occupied housing units - Average household size of owner-occupied units,Percent; HOUSING TENURE - Occupied housing units - Owner-occupied housing units - Average household size of owner-occupied units,Number; HOUSING TENURE - Occupied housing units - Renter-occupied housing units,Percent; HOUSING TENURE - Occupied housing units - Renter-occupied housing units,Number; HOUSING TENURE - Occupied housing units - Renter-occupied housing units - Population in renter-occupied housing units,Percent; HOUSING TENURE - Occupied housing units - Renter-occupied housing units - Population in renter-occupied housing units,Number; HOUSING TENURE - Occupied housing units - Renter-occupied housing units - Average household size of renter-occupied units,Percent; HOUSING TENURE - Occupied housing units - Renter-occupied housing units - Average household size of renter-occupied units
0,1400000US06001400100,6001400100,"Census Tract 4001, Alameda County, California",2937,100.0,150,5.1,122,4.2,91,...,2516,( X ),2.25,( X ),196,14.9,419,( X ),2.14,( X )
1,1400000US06001400200,6001400200,"Census Tract 4002, Alameda County, California",1974,100.0,138,7.0,98,5.0,64,...,1252,( X ),2.46,( X ),348,40.7,652,( X ),1.87,( X )
2,1400000US06001400300,6001400300,"Census Tract 4003, Alameda County, California",4865,100.0,320,6.6,219,4.5,143,...,2389,( X ),2.30,( X ),1381,57.1,2436,( X ),1.76,( X )
3,1400000US06001400400,6001400400,"Census Tract 4004, Alameda County, California",3703,100.0,255,6.9,168,4.5,94,...,1712,( X ),2.30,( X ),1034,58.1,1958,( X ),1.89,( X )
4,1400000US06001400500,6001400500,"Census Tract 4005, Alameda County, California",3517,100.0,184,5.2,133,3.8,86,...,1461,( X ),2.40,( X ),970,61.5,1930,( X ),1.99,( X )

In [198]:
data_columns = ["Id","Id2","Geography","Number; HOUSING OCCUPANCY - Total housing units"
,"Percent; HOUSING OCCUPANCY - Total housing units"
,"Number; HOUSING OCCUPANCY - Total housing units - Occupied housing units",
"Percent; HOUSING OCCUPANCY - Total housing units - Occupied housing units",
"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units",
"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units",
"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent"
,"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent",
"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied"
,"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied"
,"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only",
"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only",
"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied",
"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied",
"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use"
,"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use",
"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants",
"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants",
"Number; HOUSING OCCUPANCY - Total housing units - Homeowner vacancy rate (percent) [8]"]

ind_poverty_status['zip'] = [int(ind_poverty_status.at[ind_poverty_status.index[i], 'Id2']) for i in range(ind_poverty_status.shape[0])]

In [103]:
house_data_rel = house_data[data_columns]

In [69]:
# Get individual housing data

data_path = "/Users/ramyabalasubramaniam/oakland-crime-prediction/"
data = os.path.join(os.getcwd(),data_path + 'ZIP_TRACT_122017.xlsx')

In [72]:
zip_track_data = pd.read_excel(data)

In [73]:
zip_track_data.head()

     zip        tract  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  37801  47009011603   0.034972   0.042088   0.000000   0.035515
1  37801  47009011200   0.339587   0.447811   0.312500   0.348407
2  37801  47009011604   0.068068   0.010101   0.125000   0.063390
3    601  72001956700   0.667327   0.422886   0.493151   0.648904
4    603  72005401302   0.082446   0.035305   0.075875   0.079698

In [74]:
zip_track_data.describe()

,zip,tract,res_ratio,bus_ratio,oth_ratio,tot_ratio
count,168662.000000,1.686620e+05,168662.000000,168662.000000,168662.000000,168662.000000
mean,49439.829689,2.904265e+10,0.204355,0.210356,0.206223,0.233016
std,28254.654804,1.609300e+10,0.294881,0.323053,0.331522,0.320526
min,501.000000,1.001020e+09,0.000000,0.000000,0.000000,0.000019
25%,27320.000000,1.608300e+10,0.013189,0.004702,0.000000,0.020416
50%,47596.500000,2.909501e+10,0.082589,0.050314,0.038462,0.091267
75%,74727.000000,4.202396e+10,0.216814,0.231907,0.217913,0.254237
max,99929.000000,7.803096e+10,1.000000,1.000000,1.000000,1.000000

In [104]:
house_data_rel.describe()

,Id2,Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent,"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied",Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only,"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied","Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use",Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants,Number; HOUSING OCCUPANCY - Total housing units - Homeowner vacancy rate (percent) [8]
count,8.057000e+03,8057.000000,8057.000000,8057.000000,8057.000000,8057.000000,8057.000000,8057.000000
mean,6.054898e+09,46.494973,2.525382,19.210004,4.255678,37.584088,26.777709,2.336068
std,2.653142e+07,50.049318,4.508200,24.095393,5.027424,172.569746,30.973783,3.490771
min,6.001400e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.037265e+09,15.000000,0.000000,7.000000,1.000000,2.000000,10.000000,1.000000
50%,6.059053e+09,33.000000,2.000000,13.000000,3.000000,5.000000,18.000000,1.700000
75%,6.073016e+09,62.000000,3.000000,24.000000,6.000000,13.000000,33.000000,2.800000
max,6.115041e+09,1180.000000,278.000000,582.000000,106.000000,4987.000000,732.000000,100.000000

In [175]:
house_data_rel.columns

Index(['Id', 'Id2', 'Geography',
       'Number; HOUSING OCCUPANCY - Total housing units',
       'Percent; HOUSING OCCUPANCY - Total housing units',
       'Number; HOUSING OCCUPANCY - Total housing units - Occupied housing units',
       'Percent; HOUSING OCCUPANCY - Total housing units - Occupied housing units',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants',
       'Number; HOUSING OCCUPANCY - Total housing units - Homeowner vacancy rate (percent) [8]'],
      dtype='object')

In [176]:
zip_track_data.columns

Index(['zip', 'tract', 'res_ratio', 'bus_ratio', 'oth_ratio', 'tot_ratio'], dtype='object')

In [177]:
ind_poverty_status.head()

,Id,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Total; Margin of Error; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Below poverty level; Margin of Error; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Margin of Error; Population for whom poverty status is determined,Total; Estimate; AGE - Under 18 years,...,"Below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months","Below poverty level; Margin of Error; Worked less than full-time, year-round in the past 12 months","Percent below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months","Percent below poverty level; Margin of Error; Worked less than full-time, year-round in the past 12 months",Total; Estimate; Did not work,Total; Margin of Error; Did not work,Below poverty level; Estimate; Did not work,Below poverty level; Margin of Error; Did not work,Percent below poverty level; Estimate; Did not work,Percent below poverty level; Margin of Error; Did not work
0,8600000US89010,89010,ZCTA5 89010,458,109,67,53,14.6,10.5,60,...,22,20,42.3,35.0,54,50,29,38,53.7,33.0
1,8600000US89019,89019,ZCTA5 89019,1761,575,172,164,9.8,8.7,268,...,32,37,46.4,34.4,233,190,79,108,33.9,27.4
2,8600000US89046,89046,ZCTA5 89046,398,154,118,123,29.6,23.2,60,...,0,12,0.0,92.8,114,50,55,38,48.2,23.4
3,8600000US89060,89060,ZCTA5 89060,9186,1037,1947,646,21.2,6.1,1534,...,171,107,45.7,18.4,1505,346,424,179,28.2,9.4
4,8600000US89061,89061,ZCTA5 89061,5417,598,329,193,6.1,3.6,845,...,13,23,11.5,20.8,638,221,86,59,13.5,9.5

In [205]:
d = {'Id2':oakland_zip_codes}
d

{'Id2': [94612,
  94605,
  94606,
  94607,
  94608,
  94619,
  94609,
  94603,
  94621,
  94601,
  94602,
  94610,
  94611,
  94618,
  94613,
  94025,
  94660,
  94705,
  94544,
  94501,
  94702,
  94577,
  94102,
  94806,
  94578,
  94615,
  94706,
  94541,
  94563,
  94704,
  94703,
  94080,
  94708,
  94123]}

In [207]:
oakland_zip_codes = pd.DataFrame(data = d)

array([94612, 94605, 94606, 94607, 94608, 94619, 94609, 94603, 94621,
       94601, 94602, 94610, 94611, 94618, 94613, 94025, 94660, 94705,
       94544, 94501, 94702, 94577, 94102, 94806, 94578, 94615, 94706,
       94541, 94563, 94704, 94703, 94080, 94708, 94123])

In [208]:
len(oakland_zip_codes['Id2'].unique())

34

In [243]:
z = list(ind_poverty_status['zip'].unique())
count = 0
for i in list(oakland_zip_codes['Id2'].unique()):
    if i in z:
        count += 1

In [244]:
count

32

In [245]:
p = sorted(oakland_zip_codes['Id2'].unique())
len(p)

34

In [249]:
s = 1
for i,j in enumerate(z):
    if j in p:
        print(str(j) + " " + str(p[s-1]))
        s = s + 1

94025 94025
94080 94080
94102 94102
94123 94123
94501 94501
94541 94541
94544 94544
94563 94563
94577 94577
94578 94578
94601 94601
94602 94602
94603 94603
94605 94605
94606 94606
94607 94607
94608 94608
94609 94609
94610 94610
94611 94611
94612 94612
94613 94613
94618 94615
94619 94618
94621 94619
94702 94621
94703 94660
94704 94702
94705 94703
94706 94704
94708 94705
94806 94706

In [209]:
# Filter out data not for Oakland
ind_poverty_status_oakland = oakland_zip_codes.merge(ind_poverty_status, 
                                                      left_on = 'Id2', 
                                                      right_on = 'zip', 
                                                      how = 'inner')
ind_poverty_status_oakland.shape

(32, 371)

In [250]:
zip_track_short = zip_track_data.merge(oakland_zip_codes, 
                                                      left_on = 'zip', 
                                                      right_on = 'Id2', 
                                                      how = 'inner')
zip_track_short = zip_track_short[['zip','tract']]

In [152]:
housing_oakland = zip_track_short.merge(house_data_rel, 
                                                      left_on = 'tract', 
                                                      right_on = 'Id2', 
                                                      how = 'inner')

In [153]:
housing_oakland.shape

(440, 24)

In [144]:
zip_track_short.shape

(440, 2)

In [146]:
zip_track_short.head()

     zip       tract
0  94025  6081613000
1  94025  6081610400
2  94025  6081611700
3  94025  6081611800
4  94025  6081611400

In [154]:
housing_oakland = housing_oakland.drop(['Id','Id2','Geography'],axis =1)

In [155]:
housing_oakland.columns

Index(['zip', 'tract', 'Number; HOUSING OCCUPANCY - Total housing units',
       'Percent; HOUSING OCCUPANCY - Total housing units',
       'Number; HOUSING OCCUPANCY - Total housing units - Occupied housing units',
       'Percent; HOUSING OCCUPANCY - Total housing units - Occupied housing units',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use',
       'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants',
       'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants',
       'Number; HOUSING OCCUPANCY - Total housing units - Homeowner vacancy rate (percent) [8]'],
      dtype='object')

In [156]:
housing_oakland.head()

,zip,tract,Number; HOUSING OCCUPANCY - Total housing units,Percent; HOUSING OCCUPANCY - Total housing units,Number; HOUSING OCCUPANCY - Total housing units - Occupied housing units,Percent; HOUSING OCCUPANCY - Total housing units - Occupied housing units,Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units,Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units,Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent,Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent,...,"Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied",Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only,Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only,"Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied","Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied","Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use","Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use",Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants,Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants,Number; HOUSING OCCUPANCY - Total housing units - Homeowner vacancy rate (percent) [8]
0,94025,6081613000,1605,100.0,1504,93.7,101,6.3,22,1.4,...,0.4,6,0.4,2,0.1,47,2.9,17,1.1,0.6
1,94025,6081610400,1657,100.0,1601,96.6,56,3.4,34,2.1,...,0.1,4,0.2,3,0.2,1,0.1,12,0.7,0.6
2,94025,6081611700,1461,100.0,1384,94.7,77,5.3,14,1.0,...,0.0,21,1.4,5,0.3,2,0.1,35,2.4,2.8
3,94025,6081611800,919,100.0,866,94.2,53,5.8,11,1.2,...,0.0,20,2.2,5,0.5,0,0.0,17,1.8,3.4
4,94025,6081611400,1515,100.0,1372,90.6,143,9.4,8,0.5,...,0.3,19,1.3,24,1.6,44,2.9,44,2.9,1.5

In [163]:
data_columns = []
for l in list(ind_poverty_status_oakland.columns):
    if l.startswith("Percent below poverty level; Estimate;"):
        data_columns.append(l)
data_columns.insert(0,"Id2")

In [166]:
ind_poverty_status_oakland_rel = ind_poverty_status_oakland[data_columns]

In [167]:
ind_poverty_status_oakland_rel.head()

,Id2,Percent below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Estimate; AGE - Under 18 years,Percent below poverty level; Estimate; AGE - Under 18 years - Under 5 years,Percent below poverty level; Estimate; AGE - Under 18 years - 5 to 17 years,Percent below poverty level; Estimate; AGE - Under 18 years - Related children of householder under 18 years,Percent below poverty level; Estimate; AGE - 18 to 64 years,Percent below poverty level; Estimate; AGE - 18 to 64 years - 18 to 34 years,Percent below poverty level; Estimate; AGE - 18 to 64 years - 35 to 64 years,Percent below poverty level; Estimate; AGE - 60 years and over,...,Percent below poverty level; Estimate; 25 to 34 years,Percent below poverty level; Estimate; 35 to 44 years,Percent below poverty level; Estimate; 45 to 54 years,Percent below poverty level; Estimate; 55 to 64 years,Percent below poverty level; Estimate; 65 to 74 years,Percent below poverty level; Estimate; 75 years and over,Percent below poverty level; Estimate; Mean income deficit for unrelated individuals (dollars),"Percent below poverty level; Estimate; Worked full-time, year-round in the past 12 months","Percent below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months",Percent below poverty level; Estimate; Did not work
0,94025,7.8,9.0,8.0,9.4,8.5,8.0,10.2,6.8,5.6,...,12.7,12.9,21.1,18.5,9.3,11.2,(X),2.6,28.7,38.0
1,94080,7.8,10.7,8.1,11.8,10.1,6.8,6.8,6.9,8.6,...,19.5,10.2,16.2,32.4,27.9,28.5,(X),4.5,24.0,48.9
2,94102,25.0,16.4,3.0,24.7,16.0,25.1,20.4,28.2,33.0,...,18.4,24.5,39.0,49.6,37.2,44.8,(X),0.9,31.2,66.6
3,94123,5.1,7.6,0.0,13.6,5.8,4.2,3.9,4.5,7.0,...,4.4,4.1,13.0,11.6,11.9,13.8,(X),0.5,16.5,26.4
4,94501,11.1,12.6,13.0,12.4,11.6,10.9,14.7,9.1,11.1,...,16.3,11.5,15.4,22.2,16.5,25.1,(X),1.4,30.0,44.9

In [168]:
poverty_housing_oakland = housing_oakland.merge(ind_poverty_status_oakland_rel
                                                ,how = "inner", left_on = "zip",right_on = "Id2")

In [171]:
poverty_housing_oakland.shape

(439, 83)

In [172]:
housing_oakland.shape

(440, 21)

In [173]:
ind_poverty_status_oakland_rel.shape

(32, 62)

In [195]:
len(poverty_housing_oakland["zip"].unique())

32

In [252]:
poverty_housing_oakland.to_csv("poverty_housing_oakland.csv")